<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585628982328-fgk385tjdc7c1m8rk37rfvc6b83m5p1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585628982328-fgk385tjdc7c1m8rk37rfvc6b83m5p1t</string>
	<key>API_KEY</key>
	<string>AIzaSyBhIX-LhgwKF8F_soFGnn5Zi011OSBn41s</string>
	<key>GCM_SENDER_ID</key>
	<string>585628982328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stelynx.collectio</string>
	<key>PROJECT_ID</key>
	<string>stelynx-collectio</string>
	<key>STORAGE_BUCKET</key>
	<string>stelynx-collectio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585628982328:ios:c47e0f4e71e4117fc5dacd</string>
	<key>DATABASE_URL</key>
	<string>https://stelynx-collectio.firebaseio.com</string>
</dict>
</plist>